GMAIL_USER = tu_correo@gmail.com
GMAIL_APP_PASSWORD = la_clave_de_16_caracteres
DESTINATION_EMAIL = tu_correo@gmail.com
PORT = 3000
ALLOWED_ORIGINS = enlaces_permitidos_separados_por_comas
MAX_MSG_LENGTH = maximo_tamano_de_mensaje
MAX_REQUESTS_PER_IP = maximo_numero_de_solicitudes_por_ip
WINDOW_MS = tiempo_en_milisegundos_para_reiniciar_el_contador_de_solicitudes